.container {
    padding: 0 2rem;
  }

.title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 63px;
    text-transform: capitalize;
  }

.description{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
}

.subtitle{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.shortdescription{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}